<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>Agency Node Js</title>
    </head>
    <body>
        <header>
        <img src="/img/logo.png" alt="Meadowlark Travel Logo">
        {{> weather}}
        
        </header>
        <div class="container">
            {{{body}}}

        </div>
    </body>
    
</html>